<!-- Displays the color box where the actual colors and boxes are shown.-->
<div class="panel panel-default text-center">
  <p>Choose Color</p><br>
  <div id="Colors-Left">
    <ul class="list-group">
      <li style="background:green;" id="green" class="color_class"></li>
      <li style="background:blue;" id="blue"  class="color_class"></li>
      <li style="background:red;" id="red"  class="color_class"></li>
      <li style="background:yellow;" id="yellow"  class="color_class"></li>
      <li style="background:orange;" id="orange"  class="color_class"></li>
      <li style="background:black;" id="black"  class="color_class"></li>
      <li style="background:white;border:2px solid;" id="white"  class="color_class"></li>
    </ul>
  </div>
    <input type="button" value="clear" id="clr" size="23">

</div>
