<!--HTML for having the chat box along with chat messages.-->
<div id="right">
      <div class="panel panel-default chat-messages">
        <ul style="list-style: none;" class="panel-body chat-message-list" data-chat="message-list"></ul>
      </div>
      <section class="chat-input">
        <form data-chat="chat-form" class="cb-container">
          <div class="input-group">
            <label for="js-message-input" class="sr-only">Message:</label>
            <input type="text" class="form-control" data-chat="message-input" autofocus>
            <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
          </div>
          <!-- /input-group -->
        </form>
      </section>
    </div>
