<div id="title" class="w3-container w3-teal text-center">
  <h1>Draw Canvas</h1>
</div>

<div class="row">


  <!--Color Panels: Refers to handlerbar containing code of the color switch and color change.-->
  <div class="col-sm-1">
      {{html-color}}
  </div>


  <!--Canvas-->
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div id="center"> <canvas id="drawing"></canvas></div>
    </div>
  </div>


  <!--Chat-->
  <div class="col-sm-3">
    {{html-chat}}
  </div>

</div>

